assign3/part-2/CreditCardValidation_TryIt/CreditCardValidation_TryIt/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="creditcardvalidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cnum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creditcardvalidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditcardvalidationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>