assign4/WebApplication2/WebApplication2/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57350/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57350/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Verification_Service_InputMessage">
    <wsdl:part name="parameters" element="tns:Verification_Service" />
  </wsdl:message>
  <wsdl:message name="IService1_Verification_Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:Verification_ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Transformation_Service_InputMessage">
    <wsdl:part name="parameters" element="tns:Transformation_Service" />
  </wsdl:message>
  <wsdl:message name="IService1_Transformation_Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:Transformation_ServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Verification_Service">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Verification_Service" message="tns:IService1_Verification_Service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Verification_ServiceResponse" message="tns:IService1_Verification_Service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transformation_Service">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Transformation_Service" message="tns:IService1_Transformation_Service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Transformation_ServiceResponse" message="tns:IService1_Transformation_Service_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verification_Service">
      <soap:operation soapAction="http://tempuri.org/IService1/Verification_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transformation_Service">
      <soap:operation soapAction="http://tempuri.org/IService1/Transformation_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57350/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>